@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
$toolbar-content-padding-x: 0px;

header {
  @media screen and (max-width: 960px) {
    height: 100px !important;
  }
  .v-btn.v-size--default {
    font-size: 1rem;
  }
  .v-toolbar__content {
    @media screen and (max-width: 960px) {
      height: 100px !important;
    }
  }
}

main.v-main {
  @media screen and (max-width: 960px) {
    padding: 100px 0px 0px !important;
  }
}

.header {
  &-logo {
    width: 80px;
    &-responsive {
      width: 50px;
    }
  }
  &-link {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
  }
}

footer {
  .v-btn.v-size--default {
    font-size: 1rem;
  }
}

.footer {
  &-link {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
  }
  &-name {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(1, 1, 1, 0.68);
    &-dark {
      font-family: "Noto Serif JP", serif;
      font-weight: 400;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.68);
    }
  }
}

.page-title {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-size: 64px;
  color: rgb(64, 64, 64);
  letter-spacing: 16px;
  &-dark {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-size: 64px;
    color: rgb(255, 255, 255);
    letter-spacing: 16px;
    text-align: center;
  }
  &-responsive {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-size: 48px;
    color: rgb(64, 64, 64);
    letter-spacing: 8px;
    &-dark {
      font-family: "Noto Serif JP", serif;
      font-weight: 400;
      font-size: 48px;
      color: rgb(255, 255, 255);
      letter-spacing: 8px;
      text-align: center;
    }
  }
  &-width {
    max-width: 1000px;
    margin: auto;
  }
}

.news {
  &-title {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-size: 32px;
    &-responsive {
      font-family: "Noto Serif JP", serif;
      font-weight: 400;
      font-size: 26px;
    }
  }
  &-date {
    font-family: "Noto Serif JP", serif;
    font-weight: 300;
    font-size: 16px;
    color: gray;
    &-responsive {
      font-family: "Noto Serif JP", serif;
      font-weight: 300;
      font-size: 14px;
      color: gray;
    }
  }
}

.contact-btn {
  margin-top: auto;
}

.home {
  position: relative;
  min-height: 700px;
  height: 100vh;
  &-responsive {
    position: relative;
    font-size: 1.3rem;
    margin: 50px 0;
    max-width: 500px;
    padding-left: 24px;
    padding-right: 24px;
  }
  &-left {
    width: 500px;
    height: 500px;
  }
  &-right {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    line-height: 1.5;
    padding: 20px;
    font-size: 30px;
  }
  &-logo {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  &-matsu {
    position: relative;
    width: 90%;
    top: 10%;
    left: 10%;
  }
  &-link {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    transition: 0.28s;
    color: rgba(1, 1, 1, 0.68) !important;
    text-decoration: none;
    &:hover {
      color: rgba(1, 1, 1, 1) !important;
    }
  }
}

.vertical-text {
  writing-mode: vertical-rl;
}

.content-box {
  margin: 100px 0;
  @media screen and (max-width: 960px) {
    margin: 50px 0;
    padding-left: 24px;
    padding-right: 24px;
  }
  &-dark {
    padding: 0 0 300px;
    &-responsive {
      padding: 0 0 150px;
    }
  }
  &-body {
    font-family: "Noto Serif JP", serif;
    & > h1 {
      font-size: 30px;
      font-weight: 500;
      margin: 40px 0 20px;
      background-color: #eee;
      padding: 10px 20px;
      border-radius: 5px;
    }

    & > h2 {
      font-size: 24px;
      font-weight: 400;
      margin: 20px 0;
      // border-bottom: 1px solid #ddd;
    }

    & > h3 {
      font-weight: 800;
      font-size: 18px;
      color: gray;
      // margin: 20px 0;
    }

    & > p {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.2px;
    }

    & > ol {
      list-style-type: decimal;
      list-style-position: inside;
    }

    & > v-btn {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.2px;
    }

    &-responsive {
      font-family: "Noto Serif JP", serif;
    }
  }
}

.map {
  width: inherit;
}
